*{
  box-sizing: border-box;
}

body{
  margin:0;
}

.Navbar {
  /* border-bottom: 2px solid #E5E5E5;
  box-shadow: 0px 5px 5px #E5E5E5; */
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  height: 100px;
  padding: 0px 20px;
}

.Navbar .nav-item .App-logo {
  height: 100px;  
  max-width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header h2 {
  font-weight: 600;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-grid {
  width: 50rem;
  padding-top: 4rem;
  max-width: 80%;
}

.hero-description {
  min-width: 100%;
  padding-top: 5rem;
  text-align:left;
  padding-left: 3rem;
}

.hero-description--header{
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 110%;
  padding: 0;
  margin-bottom: 16px;
}

.hero-description--content {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  color: #222222;
  max-width: 60%;
  padding: 0;
}

.card-section {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1.5rem;
  padding-top: 3rem;
}

.card-section--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 110%;
  position: relative;
}

.card--image {
  border-radius: 5%;
  margin-bottom: 0.5rem;
  width: 300px;
}

.card--image--caption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.image--caption--star {
  margin-right: 0.2rem;
  max-height: 14px;
}

.gray {
 color: #918E9B;
}

.bold {
  font-weight: bold;
}

.card-section--card p {
  margin-bottom: 0.1rem;
}

.card--badge {
  position: absolute;
  top: 1rem;
  left:1rem;
  background-color: rgb(225, 223, 223);
  padding: 5px 7px;
  border-radius: 5%;
  font-weight: bold;
  text-align: center;
}
